<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString"
         connectionString="Data Source=(LocalDB)\\ProjectsV13;Initial Catalog=parser_db;Integrated Security=True;Connection Timeout=90;MultipleActiveResultSets=true;" />
  </connectionStrings>
</configuration>